* {
  margin: 0 auto;
  padding: 0;
}
ul {
  list-style: none;
}
.container {
  width: fit-content;
  max-width: 1200px;
  background-color: hsla(0, 0%, 0%, 0.575);
}
.mainTitle {
  text-align: center;
}
@media screen and (min-width: 360px) {
  .container {
    padding: 20px;
  }
}
